:root {
    --primary-color:#850707 ;
    --secondary-color: #ADD8E6;
    --tertiary-color:#F5F5DC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 40px;
    color: var(--primary-color);
    font-style: italic;
    text-shadow: 2px 2px 5px black;
    border-right: 5px solid rgb(1, 1, 15);
    text-align: right;
}

/* Start header nave bar styles  */
header {
    padding: 10px 20px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 5px solid var(--primary-color);
    font-style: oblique;
    margin-right: 15px;
}

/* Header navbar styles end  */

/* Banner styles start  */
.hero {
    background-image: url(../images/banner-image.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    flex-wrap: wrap;
    background-attachment: fixed;
    color: white;
    height: 10vw;
}

/* About me styling  */
#about-me {
    display: flex;
    height: 200px;
    margin: 15px 0 15px 100px;
}

#about-me h3 {
    height: 100%;
    padding: 0 15px 0 33px;
}

.section-content {
    display: flex;
    margin-left: 33px;
    justify-content: space-between;
    width: 73%;
}

.section-content p {
    flex-grow: 1;
    padding: 10px 0px 0px 10px
}

/* Work styling  */
#work {
    display: flex;
    margin: 10px 0 10px 100px;
}

#work div a {
    text-decoration: none;
    color: blanchedalmond;
    
}

#work h3 {
    padding: 0 15px 0 49.5px;
}

#work h4 {
    background-color: var(--primary-color);
}

#work p {
    background-color: var(--primary-color) ;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 75%;
    height: min-content;
}

.flexbox-item {
    border: 3px solid red;
    height: 300px;
    margin: 10px;
    padding: 50px 0;
    color: red;
    opacity: .5;
}

.flexbox-item h4, .flexbox-item p {
    background-color: black;
    width: max-content;
}

h4 {
    font-size: large;
}

/* Styling for individual projects  */
.flexbox-item-1 {
    width: 100%;  
    padding: 130px 0;
    background-image: url(../images/ambience.jpeg);
    background-size:cover;
    
}

.flexbox-item-2 {
    background-image: url(../images/Weather.jpg);
    background-size: cover;
    background-position: center;
}

.flexbox-item-3 {
    background-image: url(../images/planner.jpg);
    background-size: cover;
    background-position: top;
}

.flexbox-item-4 {
    background-image: url(../images/password-generator.jpg);
    background-size: cover;
    background-position: center;
}

.flexbox-item-5 {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
}

.flexbox-item-2, .flexbox-item-3, .flexbox-item-4, .flexbox-item-5 {
    width: 40%;
    height: 150px;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Footer styling  */
footer {
    display: flex;
    flex-wrap: wrap;
    margin:15px 0 15px 100px;
}

footer h3 {
    padding-right: 15px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    padding: 10px 30px;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 16px;
    border-bottom: 5px solid var(--primary-color);
    font-style: oblique;
    margin-left: 20px;
}

footer a {
    flex-grow: 1;
    text-decoration: none;
    height: 100%;
}

.flexbox-item:hover {
    opacity: 1;
    border-radius: 25px;
}

a:hover {
    background-color: black;
    border-radius: 25px;

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
        border: none;
    }

    .hero {
        width: 100%;
        text-align: center;
        height: fit-content;
    }

    #about-me {
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: fit-content;
        margin: 0;
    }

    #about-me h3 {
        width: 100%;
        text-align: center;
        border: none;
        display: flex;
    }

    #about-me img {
        display: none;
        /* width: 100%;
        height: fit-content; */
    }

    #work {
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: fit-content;
        margin: 0;
    }

    #work h3 {
        border: none;
    }

    #work h4 {
        font-size: small;
        width: fit-content;
    }

    #work p {
        display: none;
    }

    .section-title {
        display: flex;
    }

    footer {
        padding-bottom: 0;
        justify-content: center;
        margin:none;
    }

    footer h3{
        width: 100%;
        text-align: center;
        border: none;
        margin-right: 50px;
    }

    footer div ul {
        text-align: center;
        border-style: solid;
        display: flex;
        margin-top: 20px;
    }

    footer div ul li {
        padding: none;
        margin: none;
        display: flex;
        flex-wrap: wrap;
        border: none;
    }
    footer div ul li a {
        padding: none;
        margin: none;
    }
}