:root {
    --primary-color:#00008B;
    --secondary-color:#30D5C8;
    --tertiary-color:#F5F5DC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Start header nave bar styles  */
header {
    padding: 10px 20px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 3.0vw;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 5px solid var(--primary-color);
    font-style: oblique;
    margin-right: 10px;
}

/* Header navbar styles end  */

/* Banner styles start  */
.hero {
    background-image: url(../images/banner-image.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    flex-wrap: wrap;
    background-attachment: fixed;
}
/* About me styling  */
#about-me {
    margin-left: 50px;
    display: flex;
    border: 10px solid black;
}

#about-me p {
    padding-left: 20px;
    border: 10px solid blue;
}



/* Work styling  */
#work {
    display: flex;
    border: 3px solid pink;
    margin-left: 50px;
}

.flexbox-container {
    display: flex;
    border: 3px solid orange;
    border-left: 10px solid blue;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 100%;
    height: min-content;
}

.flexbox-item {
    border: 3px solid red;
    height: 300px;
    margin: 10px;
}

/* How do I add a link to the image?  */
/* adjust width so all elements are properly aligned */
.flexbox-item-1 {
    width: 80%;
    height: 60%;
    padding: 75px 0;
    background-image: url(../images/hero-bg.jpg);
    background-size:cover;
}
.flexbox-item-2, .flexbox-item-3, .flexbox-item-4, .flexbox-item-5 {
    width: 40%;
    height: 150px;
}
